** ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.scroll-area {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  display: none;
}
.scroll-area i {
width: 45px;
height: 45px;
background-color: #71444b;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
color: #fff;
font-size: 20px;
border-radius: 2%;
}



.button-1 {
border: none;
position: relative;
display: inline-block;
z-index: 1;
color: #ffffff;
background-color: #40c6ec;
-webkit-transition: 0.4s;
transition: 0.4s;
font-weight: 600;
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
padding-top: 12px;
padding-bottom: 12px;
box-shadow: 0 7px 25px rgb(123,104,238,0.25);
overflow: hidden;
}
.button-1:hover{
color: #fff;
}
.button-1 span {
position: absolute;
display: block;
width: 0;
height: 0;
border-radius: 50%;
 background-color: #ff66c4; 
-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
z-index: -1;
border-radius: 30px;
}
.button-1:hover span{
width: 225%;
height: 562.5px;
}
/*button-2*/
.button-2 {
  height: fit-content;
border: none;
position: relative;
display: inline-block;
z-index: 1;
color: #ffffff;
background-color: #ff66c4;
-webkit-transition: 0.4s;
transition: 0.4s;
font-weight: 600;
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
padding-top: 12px;
padding-bottom: 12px;
box-shadow: 0 7px 25px rgb(123,104,238,0.25);
overflow: hidden;
}
.button-2:hover{
color: #fff;
}
.button-2 span {
position: absolute;
display: block;
width: 0;
height: 0;
border-radius: 50%;
 background-color: #40c6ec; 
-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
z-index: -1;
border-radius: 30px;
}
.button-2:hover span{
width: 225%;
height: 562.5px;
}
.hero-caption-btn a.button-2 {
margin-left: 20px;
}
/*
* 6. About Us Area
*/
.about-info-btn a.button-2 {
margin-left: 20px;
}

.title-divider {
width: 150px;
height: 2px;
background: #ff66c4;
margin: 0 auto;
position: relative;
margin-bottom: 15px;
}
.title-divider:after {
content: "";
clear: both;
display: block;
overflow: hidden;
position: absolute;
width: 16px;
height: 16px;
background: #fff;
border-radius: 50%;
left: 0;
right: 0;
top: -7px;
margin: 0 auto;
border: 3px solid #ff66c4
}
.services-box {
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
cursor: pointer;

}
.services-box:hover{
transform: translateY(-10px);


/* ----------------------------------------------
Generated by AnimatiSS
Licensed under FreeBSD License
URL: https://xsgames.co/animatiss
Twitter: @xsgames_
---------------------------------------------- */



}
.services-box .icon {
background: #ff66c4;
width: 90px;
height: 90px;
margin: 0 auto;
margin-bottom: 25px;
display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
color: #fff;
border-radius: 33% 66% 70% 30%/49% 62% 38% 51% !important;
}
.services-box h2 {
font-size: 22px;
margin-bottom: 10px;
font-weight: 700;
color: #fff;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.services-box:hover h2{
color: #ff66c4;
}
.services-box p{
color: #cccccc;

}
@media (max-width: 766px) {
.services-box p{
  color: #cccccc;

}
.services-box{
  width: auto;
}
}
@media(max-width: 676px){
.services-box{
  width: 110%;
}
}
@media(max-width: 576px){
.services-box{
  width: 120%;
}
}

.resume-item-box {
padding: 30px 17px;
text-align: left;
box-shadow: 0px 2px 5px #4d4b4b;
}
.resume-item-box span {
background: #ff66c4;
color: #fff;
font-weight: 700;
font-size: 14px;
padding: 2px 14px;
display: inline-block;
border-radius: 20px;
}
.resume-item-box h2 {
font-size: 22px;
font-weight: 700;
color: #fff;
margin-top: 12px;
margin-bottom: 2px;
}
.resume-item-box h4 {
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
margin-bottom: 20px;
color: #ccc;
}
.resume-item-box p {
font-size: 14.5px;
margin-bottom: 10px;
font-weight: 300;
color: #ccc;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}


/* portfolio */

.portfolio-list ul li {
display: inline-block;
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
/* color: #ccc; */
padding: 2px 10px;
}
.portfolio-item {
position: relative;
width: 100%;
overflow: hidden;
}
.portfolio-item img{
width: 100%;
}
.portfolio-item::after {
content: "";
clear: both;
display: block;
overflow: hidden;
position: absolute;
width: 50%;
height: 0%;
background: rgba(80, 181, 96, 0.94);
top: 0;
right: 0;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.portfolio-item:before{
content: "";
clear: both;
display: block;
overflow: hidden;
position: absolute;
width: 50%;
height: 0%;
background: rgba(80, 181, 96, 0.94);
bottom: 0;
left: 0;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.portfolio-item:hover::before {
height: 100%;
}
.portfolio-item:hover::after {
height: 100%;
}
.portfolio-item-overly {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
top: 0;
left: 0;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
z-index: 5;
}
.portfolio-item-overly-full {
position: absolute;
right: 0px;
bottom: 20px;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
overflow: hidden;
opacity: 0;
visibility: hidden;
}
.portfolio-item:hover .portfolio-item-overly-full {
right: 20px;
opacity: 1;
visibility: visible;
}
.portfolio-item-overly-full a {
padding: 13px;
background: #fff;
display: inline-block;
line-height: 1;
color: rgba(80, 181, 96, 0.94);
font-size: 20px;
margin: 2px;
border-radius: 50%;
}
.mixitup-control-active {
color: #ff66c4;
}


.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
justify-content: center;
}

/* client review  */
/* .client-single{
margin-left: 20px;
} */
.client-review-single-full {

}
.client-review-single-content {
background: #136c64;
padding: 20px 10px;
padding-left: 15px;
border-radius: 0px;

position: relative;
margin: 0;
width: fit-content;
}
@media (min-width: 992px) and (max-width: 1199px) {
.client-review-single-content {
  background: #136c64;
  padding: 20px 10px;
  padding-left: 15px;
  border-radius: 0px;
  
  position: relative;
  margin: 0;
  width: fit-content;
}

}
@media (max-width: 880px) {
.client-review-single-content {
  background: #136c64;
  padding-inline: 15px;
  padding-block: 15px;
  border-radius: 0px;
  width: fit-content;
  max-width: 500px;
  position: relative;
  margin: auto;
  width: fit-content;
}
.client-review-single-img {
  margin-top: 18px;
  margin-left: 10px;
}
}
.client-review-single {
margin: 0px 0px;
}
.client-review-single-content::after {
content: "";
clear: both;
display: block;
position: absolute;
width: 50px;
height: 30px;
background: #136c64;
left: 88px;
bottom: -30px;
clip-path: polygon(25% 0, 0 100%, 100% 0);
}
.client-review-single-img img {
width: 100px !important;
height: 100px;

border-radius: 50%;
object-fit: cover;
}
.client-review-single-content h3 {
font-size: 22px;
font-weight: 700;
letter-spacing: 1px;
color: #fff;
margin-bottom: 2px;
}
.client-review-single-content h5 {
color: #fff;
font-size: 14px;
text-transform: capitalize;
letter-spacing: 1px;
font-weight: 400;
margin-bottom: 10px;
}
.client-review-single-content .review{
margin-top: 10px;
display: flex;
align-items: center;
gap: 5px;
}
.client-review-single-content .review span {

color: #ffbd39;
font-size: 14px;
}
.client-review-single-img {
margin-top: 18px;
}

/* blogs */

.blog-single {
width: 100%;
overflow: hidden;
box-sizing: border-box;
box-shadow: 0px 3px 13px #443f3fe6;
}
.blog-thumbnail img {
width: 100%;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.blog-thumbnail {
width: 100%;
position: relative;
overflow: hidden;
}
.blog-thumbnail:after{
content: "";
clear: both;
display: block;
overflow: hidden;
position: absolute;

width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.5);
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
opacity: 0;
}
.blog-single:hover .blog-thumbnail::after {
opacity: 1;
}
.blog-single:hover .blog-thumbnail img{
transform: scale(1.1);
}
.date-box {
width: 58px;
height: 58px;
background: #ff66c4;
color: #fff;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 30px;
left: 30px;
z-index: 5;
}
.date-box span {
line-height: 18px;
font-weight: 600;
font-size: 14px;
letter-spacing: 1.3px;
}
.blog-content {
padding: 10px 30px;
box-sizing: border-box;
}
.blog-content h3 {
font-size: 20px;
font-weight: 700;
}
.blog-content h3 a {
color: #ccc;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.blog-content p {
color: #ccc;

}
.blog-content h3 a:hover{
color: #fff;
}
.blog-meta {
margin: 5px 0px 10px 0px;
}
.blog-meta a {
color: #ccc;
font-weight: 300;
font-size: 15px;
}
.blog-meta span.sep {
color: #ccc;
font-size: 15px;
padding: 0px 3px;
}
.blog-content p {
margin-bottom: 20px;
line-height: 24px;
}
.blog-content a.read-more {
display: flex;
align-items: center;
gap: 5px;
color: #ccc;
}
.blog-content a.read-more:hover {
color: #fff;
}
.blog-content a.read-more i{
-webkit-transition:all .3s ease-in-out;
transition: all .3s ease-in-out;
font-size: 15px;
}
.blog-content a.read-more:hover i {
padding-left: 10px;
}


/*
* 13. Contact Area
*/

.contact-form input {
width: 100%;
margin-bottom: 20px;
background: #333;
color: #fff;
padding: 15px 20px;
border: 1px solid #6f6c6c;
font-size: 14px;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.input-sub input{
padding: 15px 40px;
width: 100%;
}
.contact-form input:focus {
border-color: #d7d3d3;
}
.contact-form textarea{
width: 100%;
margin-bottom: 20px;
background: #333;
color: #fff;
padding: 15px 20px;
border: 1px solid #6f6c6c;
font-size: 14px;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
height: 150px;
}
.contact-form textarea:focus {
border-color: #d7d3d3;
}
.contact-form button {
text-transform: uppercase;
letter-spacing: 2px;
}

@media (max-width: 991px)  {
.contact-form input {
  
  width: 100%;
  margin-bottom: 20px;
  background: #333;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #6f6c6c;
  font-size: 14px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.input-sub input{
  padding: 15px 40px;
  width: 100%;
}
.contact-form input:focus {
  border-color: #d7d3d3;
}
.contact-form textarea{
  width: 100%;
  margin-bottom: 20px;
  background: #333;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid #6f6c6c;
  font-size: 14px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: 150px;
}
}

/* footer */





a.meanmenu-reveal {
display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {

width: 100%;
position: relative;
min-height: -30px;
z-index: 999999;
}

.mean-container a.meanmenu-reveal {
width: 22px;
height: 22px;
padding: 13px 13px 11px 13px;
position: absolute;
top: 0;
right: 0;
cursor: pointer;
color: #fff;
text-decoration: none;
font-size: 16px;
text-indent: -9999em;
line-height: 22px;
font-size: 1px;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
display: block;
background: #fff;
height: 3px;
margin-top: 3px;
/* border: 1px solid #fff; */
}

.mean-container .mean-nav {

width: 100%;
background: #0c1923;
margin-top: 10px;
overflow: hidden; /* Ensure the menu content is hidden when not toggled */
max-height: 0; /* Start with a height of 0, so it's hidden */
transition: max-height 0.3s ease-out; 
}

.mean-nav.toggle {
display: block; /* Show the menu content when the toggle class is present */
max-height: 400px; /* Adjust this value to your desired maximum height for the menu */
transition: max-height 0.3s ease-in;
}

.mean-nav ul {
display: none; /* Hide the menu content by default */
}

.mean-nav.toggle ul {
display: block; /* Show the menu content when the toggle class is present */
}
.mean-container .mean-nav ul {
padding: 0;
margin: 0;
width: 100%;
list-style-type: none;
}

/* .mean-container .mean-nav ul li {

float: left;
width: 100%;
} */

.mean-container .mean-nav ul li a {
display: block;
float: left;
width: 90%;
padding: 1em 5%;
margin: 0;
text-align: left;
color: #fff;
border-top: 1px solid #383838;
text-decoration: none;
text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
width: 80%;
padding: 1em 10%;
border-top: 1px solid #f1f1f1;
border-top: 1px solid rgba(255,255,255,0.25);
opacity: 0.75;
filter: alpha(opacity=75);
text-shadow: none !important;
visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
border-bottom: none;
margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
width: 70%;
padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
width: 60%;
padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
width: 50%;
padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
background: #252525;
background: rgba(68, 62, 62, 0.1);
}

/* .mean-container .mean-nav ul li a.mean-expand {
margin-top: 1px;
width: 26px;
height: 32px;
padding: 12px !important;
text-align: center;
position: absolute;
right: 0;
top: 0;
z-index: 2;
font-weight: 700;
background: rgba(255,255,255,0.1);
border: none !important;
border-left: 1px solid rgba(255,255,255,0.4) !important;
border-bottom: 1px solid rgba(255,255,255,0.2) !important;
} */

.mean-container .mean-nav ul li a.mean-expand:hover {
background: rgba(0,0,0,0.9);
}

/* .mean-container .mean-push {
float: left;
width: 100%;
padding: 0;
margin: 0;
clear: both;
} */

.mean-nav .wrapper {
width: 100%;
padding: 0;
margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}


.mean-remove {
display: none !important;
}

.mean-container .mean-nav ul li a {
padding: 10px 10px;
border-top: 1px solid #383838;
font-size: 14px;
}
.mean-container .mean-nav ul li a.mean-expand {
margin-top: 0px;
padding: 5px 12px !important;
}
.mean-container .mean-nav ul li li a {
padding: 10px 10px;
border-top: 1px solid #383838;
font-size: 14px;
}